In [13]:
# Importing the libraries
import pandas as pd

In [14]:
# Importing and reading the dataset
ev_data_US = pd.read_csv('Electric_Vehicle_Population_Data.csv')
ev_data_US.head()

,VIN (1-10),County,City,State,Postal Code,Model Year,Make,Model,Electric Vehicle Type,Clean Alternative Fuel Vehicle (CAFV) Eligibility,Electric Range,Base MSRP,Legislative District,DOL Vehicle ID,Vehicle Location,Electric Utility,2020 Census Tract
0,5YJSA1E22K,King,Seattle,WA,98112.0,2019,TESLA,MODEL S,Battery Electric Vehicle (BEV),Clean Alternative Fuel Vehicle Eligible,270,0,43.0,202233958,POINT (-122.300312 47.629782),CITY OF SEATTLE - (WA)|CITY OF TACOMA - (WA),5.303301e+10
1,3MW39FS05R,Yakima,Zillah,WA,98953.0,2024,BMW,330E,Plug-in Hybrid Electric Vehicle (PHEV),Not eligible due to low battery range,20,0,15.0,264425178,POINT (-120.2658133 46.4063477),PACIFICORP,5.307700e+10
2,1N4AZ0CP0F,King,Kent,WA,98031.0,2015,NISSAN,LEAF,Battery Electric Vehicle (BEV),Clean Alternative Fuel Vehicle Eligible,84,0,11.0,114962025,POINT (-122.201564 47.402358),PUGET SOUND ENERGY INC||CITY OF TACOMA - (WA),5.303303e+10
3,5YJSA1H20F,Snohomish,Bothell,WA,98012.0,2015,TESLA,MODEL S,Battery Electric Vehicle (BEV),Clean Alternative Fuel Vehicle Eligible,208,0,1.0,232724670,POINT (-122.206146 47.839957),PUGET SOUND ENERGY INC,5.306105e+10
4,JTMAB3FV1N,Yakima,Yakima,WA,98908.0,2022,TOYOTA,RAV4 PRIME,Plug-in Hybrid Electric Vehicle (PHEV),Clean Alternative Fuel Vehicle Eligible,42,0,14.0,221023589,POINT (-120.611068 46.596645),PACIFICORP,5.307700e+10

In [15]:
# Checking the count, data types of the columns
ev_data_US.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 191407 entries, 0 to 191406
Data columns (total 17 columns):
 #   Column                                             Non-Null Count   Dtype
---  ------                                             --------------   -----
 0   VIN (1-10)                                         191407 non-null  object
 1   County                                             191403 non-null  object
 2   City                                               191403 non-null  object
 3   State                                              191407 non-null  object
 4   Postal Code                                        191403 non-null  float64
 5   Model Year                                         191407 non-null  int64
 6   Make                                               191407 non-null  object
 7   Model                                              191407 non-null  object
 8   Electric Vehicle Type                              191407 non-null  object
 9   Clean Alternative Fuel Vehicle (CAFV) Eligibility  191407 non-null  object
 10  Electric Range                                     191407 non-null  int64
 11  Base MSRP                                          191407 non-null  int64
 12  Legislative District                               190993 non-null  float64
 13  DOL Vehicle ID                                     191407 non-null  int64
 14  Vehicle Location                                   191399 non-null  object
 15  Electric Utility                                   191403 non-null  object
 16  2020 Census Tract                                  191403 non-null  float64
dtypes: float64(3), int64(4), object(10)
memory usage: 24.8+ MB

In [16]:
# Checking the null values
ev_data_US.isnull().sum()

VIN (1-10)                                             0
County                                                 4
City                                                   4
State                                                  0
Postal Code                                            4
Model Year                                             0
Make                                                   0
Model                                                  0
Electric Vehicle Type                                  0
Clean Alternative Fuel Vehicle (CAFV) Eligibility      0
Electric Range                                         0
Base MSRP                                              0
Legislative District                                 414
DOL Vehicle ID                                         0
Vehicle Location                                       8
Electric Utility                                       4
2020 Census Tract                                      4
dtype: int64

In [17]:
# Dropping the columns with null values
ev_data_US.dropna(inplace=True)
print("Null values dropped")

Null values dropped

In [18]:
# Removing column not required for analysis
ev_data_US.drop('VIN (1-10)', axis=1, inplace=True)
ev_data_US.drop('State', axis=1, inplace=True)
ev_data_US.drop('Base MSRP', axis=1, inplace=True)
ev_data_US.drop('Legislative District', axis=1, inplace=True)
ev_data_US.drop('DOL Vehicle ID', axis=1, inplace=True)
ev_data_US.drop('Vehicle Location', axis=1, inplace=True)
ev_data_US.drop('Electric Utility', axis=1, inplace=True)
ev_data_US.drop('2020 Census Tract', axis=1, inplace=True)
print("Unwanted columns removed")

Unwanted columns removed

In [19]:
# Changing dataype of Postal Code coloumn from float to int
ev_data_US['Postal Code'] = ev_data_US['Postal Code'].astype(int)
print("Data type changed")

Data type changed

In [20]:
# Viewing the dataset after cleaning
ev_data_US.head()

,County,City,Postal Code,Model Year,Make,Model,Electric Vehicle Type,Clean Alternative Fuel Vehicle (CAFV) Eligibility,Electric Range
0,King,Seattle,98112,2019,TESLA,MODEL S,Battery Electric Vehicle (BEV),Clean Alternative Fuel Vehicle Eligible,270
1,Yakima,Zillah,98953,2024,BMW,330E,Plug-in Hybrid Electric Vehicle (PHEV),Not eligible due to low battery range,20
2,King,Kent,98031,2015,NISSAN,LEAF,Battery Electric Vehicle (BEV),Clean Alternative Fuel Vehicle Eligible,84
3,Snohomish,Bothell,98012,2015,TESLA,MODEL S,Battery Electric Vehicle (BEV),Clean Alternative Fuel Vehicle Eligible,208
4,Yakima,Yakima,98908,2022,TOYOTA,RAV4 PRIME,Plug-in Hybrid Electric Vehicle (PHEV),Clean Alternative Fuel Vehicle Eligible,42

In [21]:
# Verifying the data types of the columns
ev_data_US.info()

<class 'pandas.core.frame.DataFrame'>
Index: 190989 entries, 0 to 191406
Data columns (total 9 columns):
 #   Column                                             Non-Null Count   Dtype
---  ------                                             --------------   -----
 0   County                                             190989 non-null  object
 1   City                                               190989 non-null  object
 2   Postal Code                                        190989 non-null  int64
 3   Model Year                                         190989 non-null  int64
 4   Make                                               190989 non-null  object
 5   Model                                              190989 non-null  object
 6   Electric Vehicle Type                              190989 non-null  object
 7   Clean Alternative Fuel Vehicle (CAFV) Eligibility  190989 non-null  object
 8   Electric Range                                     190989 non-null  int64
dtypes: int64(3), object(6)
memory usage: 14.6+ MB

In [22]:
# Checking for Year range
ev_data_US['Model Year'].value_counts().sort_index()

Model Year
1997        1
1998        1
1999        5
2000        7
2002        2
2003        1
2008       21
2010       24
2011      736
2012     1592
2013     4356
2014     3521
2015     4802
2016     5517
2017     8625
2018    14303
2019    10902
2020    12112
2021    19462
2022    28045
2023    60004
2024    16944
2025        6
Name: count, dtype: int64

In [23]:
# Removing the rows with Model Year 2025
ev_data_US.drop(ev_data_US[ev_data_US['Model Year'] == 2025].index, inplace=True)

In [24]:
# Verifying the data after removing the rows
ev_data_US['Model Year'].value_counts().sort_index()

Model Year
1997        1
1998        1
1999        5
2000        7
2002        2
2003        1
2008       21
2010       24
2011      736
2012     1592
2013     4356
2014     3521
2015     4802
2016     5517
2017     8625
2018    14303
2019    10902
2020    12112
2021    19462
2022    28045
2023    60004
2024    16944
Name: count, dtype: int64

In [25]:
# Saving the cleaned dataset as csv
ev_data_US.to_csv('ev_data_US.csv', index=False)
print("Data saved to csv")

Data saved to csv